<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
      <header id="header" class="alt menu_bar">
        <h1><a href="index.html">FIRST PLAN</a></h1>
        <div id="menu_barr_id" class="menu_barr menu_barr2">
          <img src="../assets/images/bars.svg" alt="">
          <a href="#" class="bt-menu"><span class="icon-bars"></span></a>
        </div>
        <nav id="nav" class="header_nav">
          <ul>
              <li><a href="">Inicio</a></li> 
              <!-- <a href="">Home</a> -->
              <li><a href="#three">Carreras</a></li>
              <li><a href="#form">Contactános</a></li>
            <!-- <li class="special">
              
              <div id="menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="generic.html">Generic</a></li>
                  <li><a href="elements.html">Elements</a></li>
                  <li><a href="#">Sign Up</a></li>
                  <li><a href="#">Log In</a></li>
                </ul>
              </div>
            </li> -->
          </ul>
        </nav>
      </header>

      <!--  ESPACIO PARA COMPONENTES  -->

      <app-home></app-home>

      <!--  <app-carrer-component></app-carrer-component>  -->

      <!--  FIN DE ESPACIOS PARA COMPONENTES  -->

      


      <section class="form-email" id="form">
        <h4>¿Tienes alguna duda? Envíanos un correo!</h4>
        <form method="post" action="#" class="content">
          <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
              <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
            </div>
            <div class="col-6 col-12-xsmall">
              <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
            </div>
            <!-- <div class="col-12">
              <select name="demo-category" id="demo-category">
                <option value="">- Category -</option>
                <option value="1">Manufacturing</option>
                <option value="1">Shipping</option>
                <option value="1">Administration</option>
                <option value="1">Human Resources</option>
              </select>
            </div> -->
            <!-- <div class="col-6 col-12-small">
              <input type="checkbox" id="demo-copy" name="demo-copy">
              <label for="demo-copy">Email me a copy</label>
            </div> -->
            <!-- <div class="col-6 col-12-small">
              <input type="checkbox" id="demo-human" name="demo-human" checked>
              <label for="demo-human">Not a robot</label>
            </div> -->
            <div class="col-12">
              <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <!-- <li><input type="reset" value="Reset" /></li> -->
              </ul>
            </div>
          </div>
        </form>
      </section>

      <!-- <table *ngIf="careers && careers.length > 0 ">
        <thead>
          <tr>
            <th>Autor</th>
            <th>Color</th>
            <th>Descripcion</th>
            <th>Id</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Texto</th>
            <th>Video</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let career of careers, let index = index">
            <td>{{career.autor}}</td>
            <td>{{career.color}}</td>
            <td>{{career.descripcion}}</td>
            <td>{{career.id}}</td>
            <td><img src="{{career.imagen}}" alt="" width="230" height="230"></td>
            <td>{{career.nombre}}</td>
            <td>{{career.texto}}</td>
            <td><iframe width="560" height="315" [src]="career.videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
          </tr>
        </tbody>
      </table> -->
    

    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
          <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>

  </div>